%table.table.table-striped.table-bordered.table-condensed
  %thead
    %tr
      -t = Array.new
      -t[0] = Time.current()
      -for i in 1..5
        -t[i] = t[i-1].yesterday
      %th Name
      %th.center Statuses
      %th.center Edit
      %th.center Delete
      %th Admin
      %th.center Current
      -for i in 1..5
        %th.center 
          =t[i].strftime("%b. %d")
  %tbody
    -Service.all.each do |s|
      %tr
        %td.mid
          =s.name
        %td.center.mid
          =button_to "Statuses", service_path(s), :method => "get", :class => "btn-primary"
        %td.center.mid
          -if signed_in? && (s.user_id == current_user.id)
            =button_to "Edit", edit_service_path(s), {:method => :get, :class => "btn-success"}
        %td.center.mid
          -if signed_in? && (s.user_id == current_user.id)
            =button_to "Delete", s, {:method => :delete, :confirm => "Are you sure?", :class => "btn-danger"}
        %td.mid
          =User.find(s.user_id).email
        -q = s.statuses
        -if q.empty?
          -for i in 1..6
            %td.center.mid
              ="N/A"
        -if !q.empty?
          -f = q.last.time
          -tt = Array.new
          -for i in [0,1,2,3,4,5]
            -querysym = q.where(:time => f..t[i].end_of_day).first
            -if !querysym.nil?
              -sym=querysym.state
            -else
              -sym="N/A"
            %td.center.mid
              = render :partial => "symbols", :locals => {:sym => sym}

-if signed_in?
  .add
    =button_to "Add service", new_service_path, :method => "get", :class => "btn-info"
.row
  .span5
    .well.legend
      %h4 
        Status Legend
      %ul.unstyled
        %li
          %img#sym(src="/assets/cross-circle.png") 
          The service is currently down
        %li
          %img#sym(src="/assets/tick-circle.png") 
          The service is up.
        %li
          %img#sym(src="/assets/exclamation.png") 
          The service is experiencing intermittent problems.
      

