%h2 
  =@service.name
%h3 
  =@service.desc
%table.table.table-striped.table-bordered.table-condensed
  %thead
    %tr
      %th Time
      %th Status
      %th Message
  -@service.statuses.each do |t|
    -sym = t.state
    %tr
      %td
        =time_ago_in_words(t.time)    
        =link_to "Edit", edit_service_status_path(@service,t)
        =link_to "Delete", service_status_path(@service,t), :method => :delete, :confirm => "Are you sure?"
      %td
        = render :partial => "symbols", :locals => {:sym => sym}
      %td
        =t.message
.add
  =link_to "[Add status]", new_service_status_path(@service)    
